# Ignore les fichiers de configuration locaux
.env

# Ignore les fichiers de logs
*.log
*.json

# Ignore les fichiers Markdown
*.md

# Ignore le dossier node_modules dans le répertoire Code de ton projet P-API
P-API/Code/node_modules/
