# Ignore les fichiers de configuration locaux
.env

# Ignore les fichiers de logs
*.log

# Ignore les fichiers Markdown
*.md

# Ignore le dossier node_modules dans le répertoire Code de ton projet P-API
P-API/Code/node_modules/

# Ignore les fichiers générés par les environnements de développement
/build
/dist
/out
/.next

# Ignore les dépendances spécifiques à un environnement
/.idea
.vscode

# Ignore les fichiers de cache
.cache
